{{#each cities as |city|}}

 <ul class='city{{city.id}}'>
  <li>City: {{city.name}}</li>
  <li>State: {{city.state}}</li>
  <li>Country: {{city.country}}</li>
  <li><button id="removeBtn" data-id="{{city.id}}">Remove</button></li>
</ul>
{{/each}}
